body {
    font-family: SansSerif;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    border-bottom: 1px solid #dfdfdf;
}

.hidden {
    visibility: hidden;
}

.content_container {
    width: 100%;
    padding: 20px;
}

.bar_container {
    width: 100%;
    font-family: sans-serif;
}

.bar text {
    stroke: #000;
    fill: #000;
    text-anchor: middle;
}

/*====== Bar Chart Styles ======= */
.bar {
    fill: #78c9b8;
    fill-opacity: 1.0;
}

.bar:hover {
    fill: #a54344;
}

.bar-group > .bar-set > .bar-percent{
    text-anchor: middle;
    font-size: 0.75em;
    fill: #9f9f9f;
}

.axis path,
.axis line {
    fill: none;
    stroke: #cfcfcf;
    shape-rendering: crispEdges;
}

.axis-x path {
    /*display: none;*/
}

.axis-y path {

}

/* ====== Arc Chart Styles ===== */
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
    font-weight: bold;
}

.arc path {
    stroke: #fff;
}

/* ======= Info Bubble ====== */

.info-bubble {
    position: relative;
    z-index: 999;
    padding: 7px 5px;
    margin: 1em 0 3em;
    border: 1px solid #cfcfcf;
    color: #333;
    background: #fff;

    font-family: sans-serif;
    text-align: center;
    font-size: .75em;
    width: 100px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.info-bubble::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 40px;
    border-width: 11px 11px 0;
    border-style: solid;
    border-color: #cfcfcf transparent;
    display: block;
    width: 0;
}

.info-bubble::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 43px;
    border-width: 8px 8px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

/* ======= Key Colors ===== */
.key-item-container {
    font-family: sans-serif;
    text-align: left;
    font-size: .75em;
}

.key-color {
    float: left;
    border: 0px solid #cfcfcf;
    background: #1497B4;

    width: 15px;
    height: 15px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.key-text {
    position: absolute;
    padding: 1px 7px;
}
